@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  html,
  body {
    text-rendering: geometricPrecision;

    font-feature-settings: "ss01", "ss02", "ss03", "liga";
    -moz-font-feature-settings: "ss01", "ss02", "ss03", "liga";
    -webkit-font-feature-settings: "ss01", "ss02", "ss03", "liga";
  }

  [data-text]:before {
    content: attr(data-text);
    display: inline-block;
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --font-sloop: "Sloop-Script", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-[#E7E7E7] text-[#0B0B0B];
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}

@font-face {
  font-family: Sloop-Script;
  font-style: normal;
  font-weight: 200 300 400 500 600 700;
  font-display: swap;
  src: url("/fonts/Sloop-ScriptThree.ttf") format("opentype");
}

/* Typography */

/* Display */
@utility display-sm-regular-tracking {
  @apply text-[82px] leading-13 font-normal tracking-[-8%]
   md:text-[160px] md:leading-14 
   lg:text-[210px]
   xl:text-[257px] xl:leading-23 
   2xl:text-[292px] 2xl:leading-23 2xl:tracking-[-9%];
}
/* 187 */
@utility display-sm-regular-no-tracking {
  @apply text-[82px] leading-13 font-normal
   md:text-[160px] md:leading-14 
   lg:text-[210px] lg:leading-[100%]
   xl:text-[257px] xl:leading-23 
   2xl:text-[292px] 2xl:leading-23;
}

/* Headlines */

@utility headline-h1-large {
  @apply text-[56px] leading-[100%] font-semibold tracking-[-0.04em]
    md:text-[64px] md:leading-[100%]
    xl:text-[80px] xl:leading-[100%];
}

@utility headline-h1 {
  @apply text-[28px] leading-[100%] font-semibold tracking-[-0.04em]
    md:text-[44px] md:leading-[100%]
    xl:text-[64px] xl:leading-[100%];
}

@utility headline-h2 {
  @apply text-[40px] leading-[100%] font-semibold tracking-[-0.04em]
    md:text-[40px] md:leading-[100%]
    xl:text-[48px] xl:leading-[100%];
}

@utility headline-h3 {
  @apply text-[32px] leading-[110%] font-semibold tracking-[-0.04em]
    md:text-[32px] md:leading-[110%]
    xl:text-[40px] xl:leading-[110%];
}

@utility headline-h4 {
  @apply text-[28px] leading-[110%] font-semibold tracking-[-0.03em]
    md:text-[28px] md:leading-[110%]
    xl:text-[32px] xl:leading-[110%];
}

@utility headline-h5 {
  @apply text-2xl leading-[110%] font-semibold tracking-[-0.03em]
    md:text-[22px] md:leading-[110%]
    xl:text-2xl xl:leading-[110%];
}

@utility headline-h6 {
  @apply text-lg leading-[120%] font-semibold tracking-[-0.02em]
    md:text-lg md:leading-[120%]
    xl:text-xl xl:leading-[120%];
}

@utility headline-highlighted-text {
  @apply text-[40px] font-semibold leading-[100%] tracking-[-0.04em]
    md:text-[64px] md:leading-[100%]
    xl:text-[80px] xl:leading-[100%];
}

/* Eyebrows */
@utility eyebrow {
  @apply text-sm leading-[130%] font-normal tracking-[0.02em]
    md:text-sm md:leading-[130%]
    xl:text-base xl:leading-[130%];
}

@utility eyebrow-small {
  @apply text-xs leading-[130%] font-normal tracking-[0.02em]
    md:text-xs md:leading-[130%]
    xl:text-xs xl:leading-[130%];
}

/* Subheadings */
@utility subhead-large {
  @apply text-xl leading-[120%] font-medium tracking-[-0.02em]
    md:text-2xl md:leading-[120%]
    xl:text-2xl xl:leading-[120%];
}

@utility subhead {
  @apply text-base leading-[130%] font-medium tracking-[-0.02em]
    md:text-base md:leading-[130%]
    xl:text-xl xl:leading-[130%];
}

/* Body Text */
@utility body-text {
  @apply text-base leading-[150%] font-normal
    md:text-base md:leading-[150%]
    xl:text-base xl:leading-[150%];
}

/* Disclaimers */
@utility disclaimer-large {
  @apply text-sm leading-[150%] font-normal
    md:text-sm md:leading-[150%]
    xl:text-sm xl:leading-[150%];
}

@utility disclaimer {
  @apply text-xs leading-[150%] font-normal tracking-[0.02em]
    md:text-xs md:leading-[150%]
    xl:text-xs xl:leading-[150%];
}

@utility body-20-bold {
  font-weight: bold;
}

@layer components {
  .cta-wrapper {
    @apply relative z-20 cursor-pointer;
  }

  .cta-button {
    @apply md:px-4 md:py-6 px-2 py-2 rounded-4xl bg-[#0c0c0c] flex justify-center items-center relative cursor-pointer overflow-hidden border-1 border-[#0c0c0c];

    .bg-circle {
      @apply absolute -right-10 origin-center top-1/2 -translate-y-1/2 
        w-[120%] h-[120%] group-hover:size-10 group-hover:right-10
        rounded-full bg-[#E7E7E7] transition-all duration-500;
    }

    .text {
      @apply uppercase text-[13px] text-black transition-all duration-500
        group-hover:text-white group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
    }

    .arrow-wrapper {
      @apply group-hover:bg-[#E7E7E7] size-10 rounded-full absolute right-10 top-1/2 
        -translate-y-1/2 flex justify-center items-center overflow-hidden;

      img {
        @apply size-5 xl:-translate-y-32 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500;
      }
    }
  }
}

.line {
  transform: translateY(100%);
  will-change: transform;
}
